[submodule "h2server"]
	path = h2server
	url = git@github.com:stikkas/h2server.git
	branch = sic-stores
[submodule "sic-stores"]
	path = sic-stores
	url = git@github.com:archives-rus/sic-stores.git
	branch = develop
